<div class="clearfix"></div>
<div class="intro">
  <h1>We Do Awesome Things</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="container">
  <img class="browse-img" src="/img/home/browse-image.png" />
</div>
<div class="cta-banner">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit!</p>
    <button class="link-btn">Button</button>
  </div>
</div>

<aside>
  <div class="container">
    <div class="awesome-things">
      <h1>We Do Really Awesome Things</h1>
      <p>Lorem ipsum dolor sit amet, <a href="javascript:void(0);">link</a> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="row">
     {{> services }}
    </div>

    <section class="testimonial">
      <img src="/img/home/quotes.png" />
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <label>Roy Barber - Damage</label>
      <div class="clearfix"></div>
    </section>

    <section class="contact-form">
      <h1>Contact About Awesomeness</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      
      {{> form }}
    </section>
  </div>  
</aside>