<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Label</label>
    <input type="text" class="form-control" placeholder="Placeholder">
    <span class="fa fa-asterisk" aria-hidden="true"></span>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Label</label>
    <input type="text" class="form-control" placeholder="Placeholder">
    <span class="fa fa-asterisk" aria-hidden="true"></span>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Label</label>
    <input type="text" class="form-control" placeholder="Placeholder">
    <span class="fa fa-asterisk" aria-hidden="true"></span>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Textarea</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>

  <button type="submit" class="submit-btn">Submit</button>
</form>