<header>
  <section class="main-nav">
    <nav class="navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button class="close-icon-btn"><img src="img/home/close-icon.png" /></button>
          <a class="navbar-brand" href="javascript:void(0);"><img src="img/home/logo.png"></a>
        </div>
        <ul class="custom-nav-menu">
          <li class="active"><a href="#">{{menu_link_again}}<span class="sr-only">(current)</span></a></li>
          <li><a href="#">{{menu_link_see}}</a></li>
          <li><a href="#">{{menu_link}}</a></li>
          <li><a href="javascript:void(0);" class="menu-link-btn">{{button_link}}</a></li>
        </ul>
      </div><!-- /.container -->
    </nav>  
  </section>
</header>